.App {
	text-align: center;

	.table-wrapper {
		max-height: 80%;

	}

	.btn-add {
		position: fixed;
		right: 100px;
		bottom: 20px;
	}

	.btn-delete-all {
		position: fixed;
		right: 20px;
		bottom: 20px;
	}

	.form-wrapper {

		.back-btn {
			position: absolute;
			top: 30px;
			left: 30px;
		}

		.paper-wrapper {
			padding-bottom: 50px;
		}

		.date-picker {
			width: 100%;
			margin-top: 16px;
		}

	}
}
